{% extends "base.html" %}


{% block content %}

<form class="flex flex-col gap-3 w-5/12">
    <h1 class="text-3xl text-center">Have an issue ? submit a ticket here</h1>
 
    
    <div class="input-group">
        
            <select class="form-select w-2"  aria-label="Select an issue type" aria-placeholder="Select issue type" required>
                <option selected disabled value="">Pick issue type</option>
            <option value="1">Account and Access</option>
            <option value="2">Bug</option>
            <option value="3">Incident report</option>
            <option value="3">Service request</option>
          </select>
      
        <input type="text" class="form-control" aria-label="more info input" placeholder="What issue are you having ?" required>
      </div>
      <textarea class="form-control"  placeholder="Add more detail about the issue here" rows="3" required></textarea>
      <button type="submit" class="btn btn-primary">Submit</button>
  
    </form>

{% endblock %}

