{% extends "base.html" %}


{% block content %}
<iframe id="preventRedirect"></iframe>

<form class="flex flex-col gap-3 w-5/12" target="preventRedirect" method="post" action="/api/issues/" id="createIssue">
    <h1 class="text-3xl text-center">Have an issue ? submit a ticket here</h1>
 
    
    <div class="input-group">
        
            <select class="form-select w-2" name="type" aria-label="Select an issue type" aria-placeholder="Select issue type" required>
                <option selected disabled value="">Pick issue type</option>
            <option value="Account and Access">Account and Access</option>
            <option value="Bug">Bug</option>
            <option value="Incident report">Incident report</option>
            <option value="Service request">Service request</option>
          </select>
      
        <input type="text" name="title" class="form-control" aria-label="more info input" placeholder="What issue are you having ?" required>
      </div>
      <textarea class="form-control" name="description"  placeholder="Add more detail about the issue here" rows="3" required></textarea>
      <button type="submit" class="btn btn-primary">Submit</button>
  
    </form>

    <!-- <script>
      const issueForm = document.querySelector('#createIssue');
      issueForm?.addEventListener('submit', async (e) => {
        e.preventDefault();
      })

    </script> -->
{% endblock %}