{% extends "base.html" %}


{% block content %}
{% set issues = [{"id": 1,"title": "Create ticket", "type": "service-request", "info": "a bug was found"}, {"id": 2, "title": "Create ticket", "type": "account-and-access", "info": "a bug was found"}, {"id": 3, "title": "Create ticket", "type": "bug", "info": "a bug was found"}]%}
<div class="flex flex-col gap-3 w-10/12">
    <div>
        <h1 class="text-3xl">Your tickets</h1>
        
        <form class="flex flex-row w-6/12 gap-2">
            
            <div>
            <label for="typeFilter" class="form-label">Issue type</label>  
            <select onchange="onTypeFilter()" class="form-select "  id="typeFilter" aria-label="Select a issue type" aria-placeholder="Select issue type" >
            <option selected disabled value="">Pick issue type</option>
            <option value="account-and-access">Account and Access</option>
            <option value="bug">Bug</option>
            <option value="incident-report">Incident report</option>
            <option value="service-request">Service request</option>
          </select>
        </div>
        <div>
            <label for="searchFilter" class="form-label">Search for issue</label> 
          <input type="email" class="form-control" id="searchFilter" placeholder="Title of issue">
        </div>

        <button onclick="clearFilter()" class="btn btn-primary w-32 mt-8">Clear</button>

            

        </form>
    </div>
<div id="issueContainer">
  <h1 id="emptyText" class="text-xl text-center hidden">No issues found matching filters provided 😭</h1>
{% for element in issues %}
<div class="issue {{element.type}} {{ element.title}}">

{% if element.type == "account-and-access" %}
    {% set tag = "btn btn-warning" %}
{% elif element.type == "service-request"  %}
{% set tag = "btn btn-info" %}
{% else %}
{% set tag = "btn btn-danger" %}
{% endif %}

<div class="card">
    <h5 class="card-header"> {{element.title}}</h5>
    <div class="card-body">
      <h5 class="card-title"><span class="badge {{tag}}">{{element.type}}</span></h5>
      <p class="card-text">{{element.info}}</p>
      <button  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
      <button onclick="onResolve()" class="btn btn-danger">Resolve</button>
    </div>
  
</div>
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModal" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <form class="flex flex-col gap-3 ">
      
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModal">Update issue</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body gap-4">
       
          
          <div class="flex flex-row">
              
                  <select  class="form-control w-40"   aria-label="Select an issue type" aria-placeholder="Select issue type" >
                      <option selected disabled value="">Pick issue type</option>
                  <option value="1">Account and Access</option>
                  <option value="2">Bug</option>
                  <option value="3">Incident report</option>
                  <option value="3">Service request</option>
                </select>
            
                <input type="text" class="form-control " aria-label="more info input" placeholder="What issue are you having ?" >
            </div>
            <textarea class="form-control mt-2"  placeholder="Add more detail about the issue here" rows="3" ></textarea>
        
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"data-bs-dismiss="modal"  onclick="onUpdate()">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>
{% endfor %} 
</div>
</div>

<script type="text/javascript">
  const onUpdate = () => {
    console.log("update")
  }

  const onResolve = () => {
    console.log("resolve")
  }
  const onTypeFilter = () => {
    var filterValue = event.target.value;
    var container = document.querySelectorAll("#issueContainer .issue");
    var allHidden = false;
    for (i = 0; i < container.length; i++)
    {
      console.log(container[i].classList)
      if(container[i].classList.contains(filterValue)) {
        console.log("yas")
        container[i].classList.remove("hidden")}

      else container[i].classList.add("hidden")

      if (container[i].classList.contains("hidden")) allElementsHidden = true
      else allElementsHidden = false
    }
    console.log(container.length)
    
    if (allElementsHidden) document.getElementById("emptyText").classList.remove("hidden")
    else document.getElementById("emptyText").classList.add("hidden")
  
    
  }
  const clearFilter = () => {
    var container = document.querySelectorAll("#issueContainer .issue");
    for (i = 0; i < container.length; i++) container[i].classList.remove("hidden")


  }
</script>
{% endblock %}
