{% extends "base.html" %}
{% block content %}
<div class="flex flex-col gap-4">
<h1 class="text-3xl text-center">login</h1>
<form class="gap-2" method="post", action="/api/auth/login">
    <input onchange="onSearchFilter()" type="email" name="email" class="form-control" id="searchFilter" placeholder="Enter email" required>
    <input onchange="onSearchFilter()" type="password" name="password" class="form-control mt-2" id="searchFilter" placeholder="Enter password" required>
    <button onclick="login()" class="btn btn-primary  mt-8 w-full"  >Login</button>
</form>
</div>

{% endblock %}
